- addresses = [ @order.name ,   @order.street,   @order.city ,  @order.phone  ]

%table.address
  %tr
    %td.billing_header.bold{:width => "45%"}= I18n.t(:billing_address)
    %td{:width => "17%"}
    %td.shiping_header.bold{:width => "45%"}= I18n.t(:shipping_address)
  - addresses.each do |row|
    %tr
      %td.cell{:height => "15px", :width => "45%"}
        = row
      %td{:width => "17%"}
      %td.cell{:height => "15px", :width => "45%"}
        = "   "
