%table.footer
  %tr
    %td.cel1.bold{:valign => "top"}= raw I18n.t(:footer_left)
    %td.cel2.cell{:valign => "top"}= raw I18n.t(:footer_left2)
    %td.cel3.bold{:valign => "top"}
      = raw I18n.t(:footer_right)
    %td.cel4.cell{:valign => "top"}= raw I18n.t(:footer_right2)
