%table.totals
  %tbody
    %tr
      %td.cel1.bold
        %strong= t(:order_total)
      %td.cel2.cell{align: "right"}
        %strong
          %span#summary-order-total= euros @order.total_price
    %tr
      %td.cel1
      %td.cel2
    -@order.taxes.each do |tax_rate , amount|
      %tr.total
        %td.cel1.bold
          = t(:vat) + " " + tax_rate.to_s + " % "
        %td.cel2.cell{align: "right"}= euros amount
